#main_pane{
    -fx-background-radius: 15;
}
#top-panel{
    -fx-background-radius: 15 15 0 0;
}
#button-style,#top-btn{
    -fx-background-color:  #3C99DC;
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#top-btn:hover{
    -fx-background-color: #2287cf;
}
#labels{
    -fx-text-align:center;
    -fx-font-size:14px;
}
